<!DOCTYPE html>
<html>
    <head>
        <title>Bien Venido a <%=nome %></title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Boas Vindas</h1>
        <h3>Está é uma pagina estática.</h3>
    </body>
</html>